.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  margin: 0px;
  align-items: center;
  .time-filter {
    .time-selector {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .filter {
      display: flex;
    }
  }
  .dashboard {
    display: flex;
    width: 80%;
    height: 70%;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    .transactions {
      border: 1px solid black;
      width: 40%;
      gap: 30px;
      padding: 30px;
      .searchbar {
        margin-bottom: 30px;
      }
      .transaction {
        border: 1px solid black;
      }
    }
    .stats {
      width: 40%;
      &__chart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
      }
      &__categories {
        border: 1px solid black;
        .category {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
}
