.navbar {
  display: flex;
  padding: 17px 49px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  background: var(--Grey, #333);
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.58);
    h1 {
      color: #e4e4e4;
      text-align: center;
      font-family: K2D;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.36px;
    }
  }
  &__routes {
    flex: 1 0 0;
    align-self: stretch;
  }
  &__auth {
    display: flex;
    padding: 4px 19px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    &__btn {
      display: flex;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      border-radius: 10px;
      span {
        width: 14px;
        height: 14px;
        transform: rotate(-0.502deg);
        fill: #fff;
      }
      p {
        color: var(--text-white, #fff);
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
